body {
  height: 100vh;
  background: linear-gradient(90deg, #a084f3 0%, #6cb7f8 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

.card-custom {
  width: 380px;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.4s ease;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.link {
  cursor: pointer;
}